<div class="conatiner">
    <div class="calculator">
        <div class="header">
            <div class="heading">
                <h3>calc</h3>
            </div>
            <div class="btn">
                <div><span>theme</span></div>
                <div class="toggle_btn">
                    <div class="switch_no"><span>1</span><span>2</span><span>3</span></div>
                    <div class="toggle"></div>
                </div>
            </div>
        </div>
        <div class="display"></div>
        <div class="keypad">

        </div>
    </div>



</div>